/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spiral {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  14.25% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 75%, 50% 75%, 50% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  28.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 50%, 50% 50%, 50% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  42.75% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 25% 25%, 25% 50%, 25% 50%, 25% 50%, 25% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  57% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  71.25% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 25%, 0% 25%); }
  85.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 0% 25%); }
  100% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #333;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 300;
  color: #333;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.7rem;
  font-weight: 500; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-white {
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-right-big {
  margin-right: 2rem !important; }

.u-heading-line ::after {
  content: "";
  display: block;
  width: 30rem;
  background-color: #ffb900;
  height: 1px;
  margin: 1rem auto 0; }

.u-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.u-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--grey {
  background-color: #333;
  color: #fff; }
  .btn--grey:hover {
    background-color: #ffb900;
    color: #333; }

.btn--orange {
  background-color: #ffb900;
  color: #333; }
  .btn--orange:hover {
    background-color: #333;
    color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text {
  position: absolute;
  bottom: -3rem; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    background-color: #333;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    padding: .7rem 3rem;
    transition: all .2s; }
  .btn-text:hover, .btn-text:active {
    background-color: #fff;
    color: #333;
    border: 2px solid #333; }

.icon-box {
  position: relative;
  height: 64px;
  width: 74px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  background-clip: padding-box;
  margin: 0 auto;
  background-color: #333; }
  .icon-box--round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ffb900; }

.about--info {
  position: relative;
  background-color: #eee;
  box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
  transition: all .2s; }
  .about--info-front {
    padding: 5rem 1.5rem;
    transition: all .6s linear; }
  .about--info-back {
    position: absolute;
    padding: 5rem 1.5rem;
    visibility: hidden;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .6s linear;
    background: #ffb900;
    color: #fff; }
  .about--info:hover {
    transform: translateY(-1rem);
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.25); }
  .about--info:hover .about--info-front {
    transform: translateY(-100%);
    visibility: hidden; }
  .about--info:hover .about--info-back {
    top: 0;
    visibility: visible; }

.section-work--reuseable {
  min-height: 100vh;
  padding: 10rem 0 0; }

.section-work--box {
  position: absolute;
  top: 50%;
  left: 0;
  height: 0;
  opacity: 0;
  width: 100%;
  background-color: #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
  transition: all .6s ease; }
  .section-work--box h3, .section-work--box i {
    opacity: 0;
    transition: all .6s ease; }

.section-work--container {
  height: 35rem;
  position: relative;
  background: blue;
  background-image: url(../img/bath-imgMini.jpeg);
  background-position: center;
  background-size: cover; }
  .section-work--container:hover .section-work--box {
    height: 100%;
    opacity: 1; }
  .section-work--container:hover .section-work--box h3, .section-work--container .section-work--box i {
    opacity: 1; }

.work--box-icon {
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer; }

.values--box h3::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: orange;
  margin: 1rem auto 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.text-row {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .text-row {
      max-width: 50rem;
      padding: 0 3rem; } }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7; }
  .section-about--box {
    background-color: #ffb900;
    padding: 5rem 0 1rem;
    margin: 0 auto; }

.section-stats {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/renovation-tools.jpeg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  padding-top: 10rem;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%); }
  @media only screen and (max-width: 56.25em) {
    .section-stats {
      background: red; } }
  .section-stats--icon {
    font-size: 10rem;
    color: #ffb900; }
  .section-stats--count {
    display: block;
    font-size: 7rem;
    color: #ffb900;
    margin-top: -2rem; }
  .section-stats--sub {
    display: inline-block;
    transform: translateY(0.8rem); }

.section-values {
  padding: 7rem 0;
  background-color: #f7f7f7;
  height: 150vh; }
  .section-values .icon-box {
    height: 13.4rem;
    width: 14.4rem;
    transition: all .5s easy; }
    .section-values .icon-box:hover {
      transform: translateY(-1rem); }
    .section-values .icon-box--round {
      font-size: 6rem; }
