.footer {
    min-height: 75vh;
    background-color: $color-footer;
    border-top: 12px solid $color-grey-dark-3;
    position: relative;
    & h3 {
        color: $color-secondary-light;
    }
    @include respond (tab-port) {
        height: 135vh;
    }
    
    &-list{
        list-style: none;
        & li {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            & i {
                margin-right: 1rem;
            }
            &:first-child span:not(:nth-child(2)) {
                display: block;
                // color: blue;
                margin-left: 2.7rem;
            }
        }
    }
    &-bot {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 10vh;
        background-color: $color-footer-dark;
        display: flex;
        padding: 0 7rem;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 300;
        
        & div a {
            text-decoration: none;
            color: inherit;
            transition: all .5s;
            &:hover {
                color: $color-white;
            }
        }
        & div:last-child {
            & a {
                font-size: 1.7rem;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            } 
        }
    }
}