.header {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  & .btn,
  & .btn:link,
  & .btn:visited {
    @include respond(phone) {
      padding: 1rem 2rem;
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }

  & .btn--grey {
    @include respond(phone) {
      margin-right: auto !important;
      margin-bottom: 2rem !important;
    }
  }
}

.header-home {
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0.8),
      rgba(white, 0.3)
    ),
    url("../../img/home/home-background.jpg");

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.8),
        rgba(white, 0.3)
      ),
      url("../../img/home/home-background.jpg");
  }
}

.header-about {
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0.8),
      rgba(white, 0.3)
    ),
    url("../../img/work/house-bradford/116343302_1209995222686217_8003269051440409215_n.jpg");

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.8),
        rgba(white, 0.3)
      ),
      url("../../img/work/house-bradford/116343302_1209995222686217_8003269051440409215_n.jpg");
  }
}

.header-services {
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0.8),
      rgba(white, 0.3)
    ),
    url("../../img/work/house-bradford/115805181_1193710904317228_3258384022386742752_n.jpg");

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.8),
        rgba(white, 0.3)
      ),
      url("../../img/work/house-bradford/115805181_1193710904317228_3258384022386742752_n.jpg");
  }
}

.header-work {
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0.8),
      rgba(white, 0.3)
    ),
    url("../../img/work/house-bradford/116669305_1039947219754577_3392283417966638742_n.jpg");

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.8),
        rgba(white, 0.3)
      ),
      url("../../img/work/house-bradford/116669305_1039947219754577_3392283417966638742_n.jpg");
  }
}
