.navigation-desktop {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  padding: 0 10rem;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  @include respond(tab-land) {
    padding: 0 2rem;
  }
  @include respond(tab-port) {
    display: none;
  }
  &--logo {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &--menu {
    & ul {
      list-style: none;
      & li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
    .menu--item {
      &,
      &:link,
      &:visited {
        font-size: 1.7rem;
        color: $color-grey-dark-3;
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.4s;
        position: relative;
        outline: none;
      }
      &:hover,
      &:active {
        color: $color-secondary-light;
      }
    }
  }
}

.logo-box {
  width: 80%;
  height: 80%;
  & img {
    object-fit: cover;
    width: 9rem;
    height: auto;
    // @include respond(tab-land) {
    //     width: 9rem;
    //     height: 100%;
    // }
  }
}

.current-menu {
  color: $color-secondary-light !important;
  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1rem;
    background: $color-white;
    z-index: 0;
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}
