.about--info {
    position: relative;
    background-color: $color-grey-light-2;
    box-shadow: 1rem .5rem 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    height: 34rem;
    @include respond(tab-land) {
        height: 36rem;
    }
    @include respond(tab-port) {
        height: auto;
    }
    &-front {
        padding: 5rem 1.5rem;
        transition: all .6s linear;
        height: 100%;
    }
    &-back {
        position: absolute;
        padding: 5rem 1.5rem;
        visibility: hidden;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .6s linear;
        background: $color-secondary-light;
        color: $color-white;
        & .btn--orange {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            @include respond(tab-port) {
                bottom: 1rem;
            }

            @include respond(tab-land) {
                font-size: 1.4rem;
                bottom: 1rem;
            }
        }
    }
    &:hover{
        transform: translateY(-1rem);
        box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    &:hover &-front{
        transform: translateY(-100%);
        visibility: hidden;
    }
    &:hover &-back{
        top: 0;
        visibility: visible;
    }  
}

