.about--info {
    position: relative;
    background-color: $color-grey-light-2;
    box-shadow: 1rem .5rem 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    &-front {
        padding: 5rem 1.5rem;
        transition: all .6s linear;
    }
    &-back {
        position: absolute;
        padding: 5rem 1.5rem;
        visibility: hidden;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .6s linear;
        background: $color-secondary-light;
        color: $color-white;
    }
    &:hover{
        transform: translateY(-1rem);
        box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    &:hover &-front{
        transform: translateY(-100%);
        visibility: hidden;
    }
    &:hover &-back{
        top: 0;
        visibility: visible;
    }  
}

