.arrow-top {
    position: fixed;
    bottom: 0;
    right: 1rem;
    width: 5rem;
    height: 4rem;
    background: $color-grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    cursor: pointer;
    opacity: 0;
    &:hover {
        background: $color-secondary-light;
        & i {
            color: $color-grey-dark-3;
        }
    }
    & i {
        font-size: 2rem;
        color: $color-white;
        font-weight: 700;
        transition: all .6s;
    }
}