.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        // border-radius: 5px;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--grey {
        background-color: $color-grey-dark-3;
        color: $color-white;
        &:hover {
            background-color: $color-secondary-light;
            color: $color-grey-dark-3;
        }
    }

    &--orange {
        background-color: $color-secondary-light;
        color: $color-grey-dark-3;
        &:hover {
            background-color: $color-grey-dark-3;
            color: $color-white;
        }
    }
    
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    position: absolute;
    bottom: -3rem;
    &:link,
    &:visited {
        font-size: $default-font-size;
        background-color: $color-grey-dark-3;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border: 2px solid $color-white;
        padding: .7rem 3rem;
        transition: all .2s;
    }

    &:hover,
    &:active {
        background-color: $color-white;
        color: $color-grey-dark-3;
        border: 2px solid $color-grey-dark-3;
    }
}