.section-blog {
    padding-bottom: 10rem;
    & .row {
        padding: 0 20rem;
        @include respond(tab-port) {
            padding: 0 2rem;
        }
    }
    & h3 a {
        transition: all .4s;
        &:link,
        &:visited {
            color: $color-grey-dark-3;
        }
        &:hover,
        &:active {
            color: $color-secondary-light;
        }
    }
    &--img {
        width: 100%;
        height: 40rem;
        @include respond(phone) {
            height: 20rem;
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &--author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-top: 1px solid $color-grey-dark-3;
        font-size: 1.4rem;
        color: $color-grey-dark-3;
        & span:first-child {
            @include respond(phone) {
                display: none;
            }
        }
        & a {
            color: $color-grey-dark-3;
            transition: all .4s;
            &:hover,
            &:active {
                color: $color-secondary-light;
            }
        }
    }
}