.section-services {
  min-height: 170vh;
  background-color: $color-grey-light-1;
  padding-bottom: 7rem;
  &--box {
    background-color: $color-secondary-light;
    padding: 5rem 0 1rem;
    margin: 0 auto;
  }

  &--left {
    & .service {
      color: $color-grey-dark-3;
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem 3rem;
      background-color: $color-grey-light-2;
      margin-bottom: 1rem;
      transition: all 0.4s;
      cursor: pointer;
      position: relative;

      @include noselect;

      &.drop {
        margin: 0 auto 1rem;
        width: 90%;
      }

      &:hover {
        background-color: $color-secondary-light;
      }
    }
  }

  &--right .service-description {
    &--img {
      height: auto;
      width: 100%;
      display: flex;

      @include respond(tab-port) {
        flex-direction: column;
      }

      & .img-container {
        width: 33%;
        height: 100%;
        padding: 1rem;
        transition: all 0.4s;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }

        @include respond(tab-port) {
          width: 100%;
        }
        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.active {
  background-color: $color-secondary-light !important;
}

#inside-int,
#inside-ext {
  display: none;
  font-size: 1.6rem;
}

.inside {
  display: block !important;
}

.service-box {
  margin-bottom: 1rem;
}

.video-box {
  width: 90%;
  height: 300px;
  margin: 0 auto 2rem;
}
#video {
  width: 100%;
  height: 300px;
}
